<h1> 
  January
</h1>
  <h5>
    Expenses for January <br>
    <br>
    <h6>Direct Debits: {{total}}
      <br>
      Amount spent so Far this Month: - {{spent}}
</h6>
</h5>
<h5>
    <br>
    {{#each expenses}}
    {{this.category}} : -£{{this.amount}}
    <form action="/expenses/delete/january/{{this.category}}/{{this.amount}}" method="POST">
    <button>Delete</button>
    </form>
    <br>
    <br>
    {{/each}}
  </h5>
<form action="/expenses/january" method="get">
  <button>Update Expense Report</button>
</form>
<h4>    
</h4>
