{{!-- 
Month: 
Month in controller
Shows all the inputs
Button with Update Expense Report 
--}}
<h1> 
  March
</h1>
  <h5>
    Expenses for March
    <br>
    <h6>Direct Debits: {{total}}
</h6>
    </h5>
    <h5>
    {{#each expenses}}
    {{this.category}} : -£{{this.amount}}
        <form action="/expenses/delete/january/{{this.category}}/{{this.amount}}" method="POST">
    <button>Delete</button>
    </form>
    <br>
    <br>
    {{/each}}
  </h5>
<form action="/expenses/march">
  <button>Update Expense Report</button>
</form>

