<h1> 
  November
</h1>
  <h5>
    Expenses for November
        <br>
    <h6>Direct Debits: {{total}}
</h6>
    </h5>
    <h5>
    {{#each expenses}}
    {{this.category}} : -£{{this.amount}}
        <form action="/expenses/delete/november/{{this.category}}/{{this.amount}}" method="POST">
    <button>Delete</button>
    </form>

    <br>
    <br>
    {{/each}}
  </h5>
<form action="/expenses/november">
  <button>Update Expense Report</button>
</form>
