{{month}}
<br>
Category: {{category}}
<br>
Current Price: {{amount}}
<form action = "/expenses/{{monthURL}}/update/{{id}}" method="POST">
  <input type="text" placeholder="Category" name="category" value={{category}}>
  <input type="text" placeholder="Amount" name="amount" value={{amount}}>
  <input type="submit" value="submit">
</form>