<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/modal.css" />
  </head>

  <body>
    <header>
      <nav>
        <div>
          <div>
            <div>
              <font face="Courier New" size="11" color="White">
                <center>ToDo List</center>
              </font>
            </div>
          </div>
        </div>
      </nav>
    </header>

<div class="center">
    <button class="add-button trigger">Add new items to the list</button>
</div>
    <div class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <form action="/list/new" method="POST">
          <input
            name="input"
            type="text"
            placeholder="Type task here..."
            required
          />
          <br />
          <input
            name="input"
            type="text"
            placeholder="/10"
            style="width: 100px"
            required
          />
          <input type="Submit" />
        </form>

      </div>
    </div>

    <div class="container card">
      <h2>Outstanding Tasks:</h2>
      {{#each list}}
        <ul>
          <form action="/list/{{this.task}}/complete" method="POST">
            {{this.task}}
            <br />
            Urgency Level:
            {{this.rating}}
            <input type="submit" value="Complete" />
          </form>
        </ul>
      {{/each}}
    </div>

    <h2> Completed Tasks: </h2>
    {{#each completedList}}
      <div class="container card">
        <ul>{{this.task}}</ul>
        <ul>{{this.rating}}/10</ul>
        <form action="/list/move/{{this.task}}" method="POST">
          <div>
            <button type="submit">Move to Outstanding Tasks</button>
          </div>
        </form>
      </div>
    {{/each}}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

    <script>
      const modal = document.querySelector(".modal"); const trigger =
      document.querySelector(".trigger"); const closeButton =
      document.querySelector(".close-button"); function toggleModal() {
      modal.classList.toggle("show-modal"); } function windowOnClick(event) { if
      (event.target === modal) { toggleModal(); } }
      trigger.addEventListener("click", toggleModal);
      closeButton.addEventListener("click", toggleModal);
      window.addEventListener("click", windowOnClick);
    </script>
  </body>

</html>